@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");
.LandingPageHeading {
  font-weight: 800;
  font-size: 100px;
  letter-spacing: -0.06em;
  line-height: 1.2;
  margin: 0 0 30px;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.cols {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
}
.rows {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.LandingPagetext {
  font-size: 1.5em;
  color: grey;
  font-weight: 500;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.46em 1em;
  width: 30%;
  height: 50px;
  font-size: 1.5em;
  background-color: #0070f3;
  border: none;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: #2d8af5;
  transition: all ease-in-out 0.1s;
}

@media only screen and (max-width: 900px) {
  .LandingPageHeading {
    font-weight: 800;
    font-size: 60px;
  }
}
